@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
            <NavMenu />
    </div>
    <div>
        <header>
            <div class="top-row px-4">
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>
        </header>
        <main >
            <article class="content px-4">
                @Body
            </article>
        </main>
        <footer>
            이 홈페이지는 웹프로그래밍 수업 실습용으로 제작되었습니다. <br>
            양지원 (<a href="mailto:yjw940421@gmail.com">yjw940421@gmail.com</a>)
        </footer>
        </div>
    

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
