@page "/Album"

<head>
    <PageTitle>Album</PageTitle>
    <link rel="stylesheet" href="./a.css">
    <script src="https://kit.fontawesome.com/5077265a6a.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1>여기는 앨범방</h1>
    <hr>
    <div>
        <img src="./image/logo.png" alt="로고">
        <h3>사진</h3>
        <p>안녕하세요<br>
        안녕하세요2</p>
    </div>
    <div>
        <img src="./image/logo.png" alt="로고">
        <h3>사진</h3>
        <p>안녕하세요<br>
        안녕하세요2</p>
    </div>
</body>

@code {

}
