@page "/Album"

<head>
    <PageTitle>Album</PageTitle>
</head>

<body>
    <h1>여기는 앨범방</h1>
    @foreach (FileInfo albumimage in @InalbumCount())
    {
        <div>
            <img src="./image/album/@albumimage.Name" alt="꽁이">
        </div>
    }
</body>

@code {
    private FileInfo[] InalbumCount()
    {
        DirectoryInfo di = new DirectoryInfo("./wwwroot");
        FileInfo[] fi = di.GetFiles("./image/album/*.webp");

        ExtensionFileInfo.Shuffle<FileInfo[]>(fi);

        return fi;
    }
}