@page "/BuckitList"

<head>
    <PageTitle>BuckitList</PageTitle>
</head>

<body>
    <h1>여기는 버킷리스트방</h1>
    <div>
        <table width="100%">
            <tbody>

                <tr>
                    <td width="35%">
                        <img src="./image/001.jpg" alt="버킷리스트 첫 번째 이미지">
                    </td>
                    <td colspan="2">
                        <h3><strong> BUCKET #1. 세계 일주 여행 </strong></h3>
                        <p>
                            다양한 나라와 문화를 경험하며 세계의 아름다움을 발견할 수 있는 기회입니다. 여행을 통해 새로운 사람들을 만나고, 다양한 음식을 맛보며, 인생에 대한 새로운 시각을 얻을 수 있습니다.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h3><strong> BUCKET #2. 스카이다이빙</strong></h3>
                        <p>
                            하늘에서 뛰어내리는 것은 궁극적인 아드레날린 러시를 제공합니다. 이 경험은 용기와 자유를 상징하며, 인생에서 한 번쯤은 해볼 가치가 있는 모험입니다.
                        </p>
                    </td>
                    <td width="35%">
                        <img src="./image/002.jpg" alt="버킷리스트 두 번째 이미지">
                    </td>
                </tr>

                <tr>
                    <td width="35%">
                        <img src="./image/003.jpg" alt="버킷리스트 세 번째 이미지">
                    </td>
                    <td colspan="2">
                        <h3><strong> BUCKET #3. 새로운 언어 배우기</strong></h3>
                        <p>
                            새로운 언어를 배우는 것은 뇌를 자극하고, 여행 시 소통을 돕고, 새로운 문화를 이해하는 데 도움이 됩니다. 또한, 다국적 친구들을 만들고, 경력에도 도움이 될 수 있습니다.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h3><strong> BUCKET #4. 마라톤 완주 </strong></h3>
                        <p>
                            마라톤은 체력과 정신력을 동시에 시험하는 스포츠입니다. 완주하는 것은 개인적인 성취감을 줄 뿐만 아니라, 꾸준한 운동과 건강한 생활 습관을 유지하는 데 도움이 됩니다.
                        </p>
                    </td>
                    <td width="35%">
                        <img src="./image/004.jpg" alt="버킷리스트 네 번째 이미지">
                    </td>
                </tr>

                <tr>
                    <td width="35%">
                        <img src="./image/005.jpg" alt="버킷리스트 다섯 번째 이미지">
                    </td>
                    <td colspan="2">
                        <h3><strong> BUCKET #5. 자원봉사 </strong></h3>
                        <p>
                            자원봉사는 지역사회에 기여하고, 다른 사람들의 삶을 개선하는 데 도움을 줍니다. 이 경험은 자신감을 키우고, 새로운 기술을 배우며, 삶에 대한 만족감을 높일 수 있습니다.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h3><strong> BUCKET #6. 악기 연주</strong></h3>
                        <p>
                            음악은 보편적인 언어입니다. 악기를 배우는 것은 창의력을 발휘하고, 스트레스를 줄이며, 새로운 취미를 즐기는 좋은 방법입니다.
                        </p>
                    </td>
                    <td width="35%">
                        <img src="./image/006.jpg" alt="버킷리스트 두 번째 이미지">
                    </td>
                </tr>

                <tr>
                    <td width="35%">
                        <img src="./image/007.jpg" alt="버킷리스트 다섯 번째 이미지">
                    </td>
                    <td colspan="2">
                        <h3><strong> BUCKET #7. 베스트셀러 책 쓰기 </strong></h3>
                        <p>
                            자신의 이야기나 지식을 책으로 출판하는 것은 지적인 도전이며, 다른 사람들과 소통하는 수단이 될 수 있습니다. 책을 쓰는 과정은 자기 성찰과 개인적 성장을 촉진합니다.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h3><strong> BUCKET #8. 미술 전시회 개최 </strong></h3>
                        <p>
                            자신의 예술 작품을 전시하는 것은 창작물을 세상에 선보이고, 다른 예술가들과 네트워킹을 할 수 있는 기회입니다. 또한, 자신의 감정과 생각을 표현하는 데 도움이 됩니다.
                        </p>
                    </td>
                    <td width="35%">
                        <img src="./image/008.jpg" alt="버킷리스트 두 번째 이미지">
                    </td>
                </tr>

                <tr>
                    <td width="35%">
                        <img src="./image/009.jpg" alt="버킷리스트 첫 번째 이미지">
                    </td>
                    <td colspan="2">
                        <h3><strong> BUCKET #9. 명상 수련 </strong></h3>
                        <p>
                            명상은 마음을 진정시키고, 스트레스를 관리하는 데 도움이 됩니다. 꾸준한 명상은 집중력을 향상시키고, 정신적인 평화를 찾는 데 유익합니다.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h3><strong> BUCKET #10. 요리 클래스 수강 </strong></h3>
                        <p>
                            요리는 창의적이고 실용적인 기술입니다. 요리 수업을 통해 새로운 요리법을 배우고, 가족과 친구들에게 맛있는 식사를 제공할 수 있습니다.
                        </p>
                    </td>
                    <td width="35%">
                        <img src="./image/bucket/010.jpg" alt="버킷리스트 두 번째 이미지">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

@code {

}
