@page "/BuckitList"



<head>
    <PageTitle>BuckitList</PageTitle>
    <link rel="stylesheet" href="./a.css">
</head>
<body>
    <h1>여기는 버킷리스트방</h1>
    <p>이곳에 나의 버킷리스트가 들어갑니다.</p>
</body>

@code {

}
