@page "/"

<head>
    <PageTitle>Home</PageTitle>

    <link rel="stylesheet" href="./a.css">
    <script src="https://kit.fontawesome.com/5077265a6a.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1>양지원의 홈페이지에 오신걸 환영합니다.</h1>
    <center>
    <table border="1" width="95%">
        <tr align="center">
            <td rowspan="2">
                <img src="./image/logo.png" alt="로고" width="30%">
            </td>
            <td colspan="2"><h1>Welcome to my homepage ^.^</h1></td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <a href="./resume.html"><i class="fa-solid fa-dove"></i>RESUME</a> /
                <a href="./story.html"><i class="fa-solid fa-crow"></i>STORY</a> /
                <a href="./major.html"><i class="fa-solid fa-computer"></i>MAJOR</a> /
                <a href="./album.html"><i class="fa-solid fa-camera"></i>ALBUM</a> /
                <a href="./buckit.html"><i class="fa-solid fa-list-check"></i>BUCKIT LIST</a> /
                <a href="http://www.hanbat.ac.kr" target="_blank"><i class="fa-solid fa-graduation-cap"></i>Hanbat Univ.</a>
            </td>
        </tr>
        <tr align="center" height="500">
            <td width="20%">
                <img src="" alt="내사진" width="50%"><br>
                yang.jiwon <br>
                010-8338-3705 <br>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
            </td>
            <td width="40%" valign="top">
                <h3>나의 소개</h3>
                <p>
                    <ul>
                        <li class="text1" style="color: blueviolet;">Name : Yang. Jiwon</li>
                        <li id="text2">NickName : Yang</li>
                        <li>Univ : Hanbat National University</li>
                        <li class="text1">Dept : Computer Science</li>
                        <li>MBTI : INFP</li>
                        <li>Key Color : RED</li>
                        <li>Favorite Song : 밤양갱</li>
                        <li>한문장으로 나 : 한문장</li>
                        <li>나의 인생 해시태그 : #인생해시태그</li>
                    </ul>
                </p>
                <br>
                <h3>가상 세계에서의 나의 아이덴티티</h3>
                캐리커쳐 or 아바타 <br>
                <img src="" alt="캐리커쳐" width="90%">
                <br><br>
                유튜브 로고 <br>
                <img src="" alt="로고1" width="20%">
                <img src="" alt="로고2" width="20%">
                <img src="" alt="로고3" width="20%">
                <br> <br>
            </td>
            <td width="40%" valign="top">
                <h3>내가 좋아하는 노래</h3>
                <p>
                    떠나는 길에 니가 내게 말했지 <br>
                    '너는 바라는 게 너무나 많아 잠깐이라도 널 안 바라보면 머리에 불이 나버린다니까' <br>
                    나는 흐르려는 눈물을 참고 하려던 얘길 어렵게 누르고 <br>
                    '그래 미안해'라는 한 마디로 너랑 나눈 날들 마무리했었지 <br>
                    <span style="color: red;">달디달고 달디달고 달디단 밤양갱 밤양갱 <br>
                    내가 먹고 싶었던 건 달디단 밤양갱 밤양갱이야 </span><br><br>
                    떠나는 길에 니가 내게 말했지 <br>
                    '너는 바라는 게 너무나 많아' <br>
                    아냐 내가 늘 바란 건 하나야 한 개뿐이야 달디단 밤양갱 <br>
                    <span style="color: red;">달디달고 달디달고 달디단 밤양갱 밤양갱 <br>
                    내가 먹고 싶었던 건 달디단 밤양갱 밤양갱이야 </span><br>
                    <img src="./image/bombyanggang.png" alt="밤양갱" usemap="#bomb" width="20%">
                    <map name="bomb">
                        <area shape="rect" coords="0,0,100,100" alt="밤양갱" href="https://www.youtube.com/watch?v=smdmEhkIRVc" target="_blank">
                    </map>
                    <img src="./image/bombyanggang.png" alt="밤양갱" width="20%">
                    <img src="./image/bombyanggang.png" alt="밤양갱" width="20%"><br>
                    영상보기 : 
                    <a href="https://www.youtube.com/watch?v=smdmEhkIRVc" target="_blank">비비</a> |
                    <a href="https://www.youtube.com/watch?v=mUDFLe3Q__U" target="_blank">황정민</a> |
                    <a href="https://www.youtube.com/watch?v=6or6HENTA1o" target="_blank">케이셉</a><br><br>
                    상다리가 부러지고 <br>
                    둘이서 먹다 하나가 쓰러져버려도 <br>
                    나라는 사람을 몰랐던 넌 <br>
                    떠나가다가 돌아서서 말했지 <br>
                    '너는 바라는 게 너무나 많아' <br>
                    아냐 내가 늘 바란 건 하나야 <br>
                    한 개뿐이야 달디단 밤양갱 <br>
                </p>
            </td>
        </tr>
    </table>
    </center>
</body>