@page "/"

<head>
    <PageTitle>Home</PageTitle>
</head>

<body>
    <h1>양지원의 홈페이지에 오신걸 환영합니다.</h1>

    <div>
        <img src="./image/Home_mypoto.jpg" alt="내사진"><br />
    </div>

    <div>
        <h3>나의 소개</h3>
        <ul>
            <li>Name : Yang. Jiwon</li>
            <li>NickName : Yang</li>
            <li>Univ : Hanbat National University</li>
            <li>Dept : Computer Science</li>
            <li>MBTI : INFP</li>
            <li>Key Color : RED</li>
            <li>Favorite Song : 밤양갱</li>
            <li>한문장으로 나 : 한문장</li>
            <li>나의 인생 해시태그 : #인생해시태그</li>
        </ul>
    </div>
    
    <div>
        <h3>내가 좋아하는 노래</h3>
        <p>
            떠나는 길에 니가 내게 말했지 <br />
            '너는 바라는 게 너무나 많아 잠깐이라도 널 안 바라보면 머리에 불이 나버린다니까' <br />
            나는 흐르려는 눈물을 참고 하려던 얘길 어렵게 누르고 <br />
            '그래 미안해'라는 한 마디로 너랑 나눈 날들 마무리했었지 <br />
            <span style="color: red;">
                달디달고 달디달고 달디단 밤양갱 밤양갱 <br />
                내가 먹고 싶었던 건 달디단 밤양갱 밤양갱이야
            </span><br><br>
            떠나는 길에 니가 내게 말했지 <br />
            '너는 바라는 게 너무나 많아' <br />
            아냐 내가 늘 바란 건 하나야 한 개뿐이야 달디단 밤양갱 <br />
            <span style="color: red;">
                달디달고 달디달고 달디단 밤양갱 밤양갱 <br />
                내가 먹고 싶었던 건 달디단 밤양갱 밤양갱이야
            </span><br>
            <img src="./image/bombyanggang.png" class="bomb" alt="밤양갱">
            <img src="./image/bombyanggang.png" class="bomb" alt="밤양갱">
            <img src="./image/bombyanggang.png" class="bomb" alt="밤양갱">
            <br />
            영상보기 :
            <a href="https://www.youtube.com/watch?v=smdmEhkIRVc" target="_blank" >비비</a> |
            <a href="https://www.youtube.com/watch?v=mUDFLe3Q__U" target="_blank">황정민</a> |
            <a href="https://www.youtube.com/watch?v=6or6HENTA1o" target="_blank">케이셉</a><br><br>
            상다리가 부러지고 <br />
            둘이서 먹다 하나가 쓰러져버려도 <br />
            나라는 사람을 몰랐던 넌 <br />
            떠나가다가 돌아서서 말했지 <br />
            '너는 바라는 게 너무나 많아' <br />
            아냐 내가 늘 바란 건 하나야 <br />
            한 개뿐이야 달디단 밤양갱 <br />
        </p>
    </div>
</body>