@page "/Resume"

<head>
    <PageTitle>Resume</PageTitle>
</head>

<body>
    <h1>자기소개서</h1>

    <div>
        <table>
            <tbody>
                <tr>
                    <td class="center" colspan="8">
                        개인 정보
                    </td>
                </tr>
                <tr>
                    <td rowspan="4" colspan="3">
                        <img src="./image/idpicture.jpg" alt="증명사진" width="100%">
                    </td>
                    <td class="minicenter">이름</td>
                    <td>양지원</td>
                    <td class="minicenter">연락처</td>
                    <td>010-8338-3705</td>
                </tr>
                <tr>
                    <td class="minicenter">생년월일</td>
                    <td>1994.04.21</td>
                    <td class="minicenter">이메일</td>
                    <td>20242853@edu.hanbat.ac.kr</td>
                </tr>
                <tr>
                    <td class="minicenter">주소</td>
                    <td colspan="3">대전광역시 유성구 계산동 730-3</td>
                </tr>
                <tr>
                    <td class="minicenter">좌우명</td>
                    <td colspan="3">현재 할 수 있는걸 해라</td>
                </tr>
                <tr>
                    <td class="center" colspan="8">학력</td>
                </tr>
                <tr>
                    <td class="minicenter">
                        2001.03.<br>
                        2007.03.<br>
                        2010.03.<br>
                        2024.03.
                    </td>
                    <td class="minicenter">
                        ~<br>
                        ~<br>
                        ~<br>
                        ~
                    </td>
                    <td class="minicenter">
                        2007.02. <br>
                        2009.02. <br>
                        2013.02. <br>
                        -
                    </td>
                    <td colspan="4">
                        충주대림초등학교 졸업<br>
                        충주미덕중학교 졸업<br>
                        충주공업고등학교 졸업<br>
                        국립한밭대학교 재학 중
                    </td>
                </tr>
                <tr class="section-title">
                    <td class="center" colspan="8">경력</td>
                </tr>
                <tr>
                    <td class="minicenter">
                        2012.08.
                    </td>
                    <td class="minicenter">
                        ~
                    </td>
                    <td class="minicenter">
                        -
                    </td>
                    <td colspan="4">
                        공무원
                    </td>
                </tr>
                <tr class="section-title">
                    <td class="center" colspan="8">자격증</td>
                </tr>
                <tr>
                    <td class="minicenter">
                        2010.04. <br>
                        2012.04.
                    </td>
                    <td colspan="7">
                        전산응용기계제도기능사 <br>
                        공유압기능사 <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

@code {

}
