@page "/Story"

<head>
    <PageTitle>Story</PageTitle>
</head>

<body>
    <h1 id="top">나의 이야기</h1>

    <div>
        <h3>나의 이름으로 삼행시</h3>
        <p>
            양... 양 세마리<br>
            지... 지렁이 세마리<br>
            원... 원숭이 세마리
        </p>
        <img src="./image/poet.jpg" alt="삼행시" width="95%"><br>
    </div>

    <div>
        <h3>숫자 키워드를 이용한 나의 소개</h3>
        <p>
            숫자 3처럼 완벽하게 살고 싶습니다
        </p>
        <img src="./image/introduce.jpg" alt="자기소개" width="95%"><br>
    </div>
    
    <div>
        <h3>나의 취미</h3>
        <p>
            나의 취미는 코딩입니다
        </p>
        <img src="./image/hobby.jpg" alt="취미" width="95%"><br>
    </div>

    <div>
        <h3>내가 되고싶은 그 사람</h3>
        <p>
            일론머스크
        </p>
        <img src="./image/rollmodel.jpg" alt="롤모델" width="95%"><br>
    </div>
</body>

@code {

}
